/*------------
    RESET
------------*/

*{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}

/*------------
    FONTS
------------*/
header {
    margin: auto;
}

body {
    font-family: 'Fredoka', sans-serif;
    margin: auto;
    width: 1150px;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    color: #E53170;
}

.box {
    color: white;
    height: 110px;
    width: 30%;
    float: left;
    background-color: #0f0e17;
    padding: 10px;
    margin: 10px;
}

img {
    height: 100px;
    width: 100px;
    float: left;
    margin: 0 10px;
}

a {
    display: block;
}