/*------------
    RESET
------------*/

*{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}

/*------------
    FONTS
------------*/
body {
    font-family: 'Fredoka', sans-serif;
    margin: auto;
    width: 1150px;   
}

header {
    margin: auto;
    margin-bottom: 50px;
}

.container {
    padding-left: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    color: #E53170;
    text-align: center;
}

.box {
    color: white;
    width: 30%;
    float: left;
    background-color: #0f0e17;
    margin: 10px;
}

img {
    height: 100px;
    width: 100px;
    float: left;
}

a {
    display: block;
    color: #59b9e4;
    text-decoration: none;
}

p {
    margin-bottom: 25px;
    text-align: center;
}
